.header {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 48px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 0 16px;
    }
}
